.loaderCont{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(5px);
	z-index: 99;
	opacity: 0;
	pointer-events: none;
	transition: 0.25s linear;
}

.loaderCont.show{
	opacity: 1;
	pointer-events: auto;
}

.loaderCont .loaderContent{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	z-index: 1;
}

.loaderCont .loaderContent .loader{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 75px;
	height: 75px;
	border: 1px solid transparent;
	border-bottom: 1px solid #000000;
	border-radius: 50%;
	animation: load 1s ease-in-out infinite;
}

.loaderCont .loaderContent .loaderMsg{
	font-size: 1.75rem;
	text-align: center;
	margin-top: 20px;
}

@keyframes load{
	to{
		transform: translate(-50%) rotate(360deg);
	}
}