.uploadInput{
	display: none;
}

.uploadButton{
	font-size: 1.5rem;
	box-shadow: 0px 0px 30px var(--secondaryColor);
}

.helper{
	display: block;
	font-size: 0.75rem;
	margin-top: 10px;
	text-align: center;
}