.cont{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	align-items: center;
	justify-content: center;
}

.cont .main{
	background-color: var(--secondaryColor);
	display: grid;
	align-content: center;
	justify-content: center;
	width: auto;
	height: 100vh;
}

.cont .main .pitch{
	color: var(--txtColor);
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
}

.cont .side{
	position: relative;
	background-image: url("/assets/bg.svg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.cont .main .title{
	margin-bottom: 0px;
	color: var(--txtColor);
}

.credits{
	position: fixed;
	top: 15px;
	right: 10px;
	color: var(--txtColor);
}

@media screen and (max-width: 750px){
	.cont{
		grid-template-columns: 1fr;
	}	

	.cont .side{
		display: none;
	}
}